  <!-- app/views/collections/_create_new_collection.html.erb -->

    <div class="col-md-6">

    <!-- Create New Collection Card -->
    <div class="create-new-collection-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="create-new-collection-content">
        <div class="create-new-plus-icon">
          <div class="plus-circle">
            <span class="plus-sign">+</span>
          </div>
        </div>
        <div class="create-new-text">
          Create New Collection
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">

    <!-- Simple form -->
    <%= simple_form_for @collection do |f| %>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">New Collection</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :description %>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", collections_path, class:"btn btn-secondary", data: { "bs-dismiss" => "modal" } %>
      <%= f.button :submit, "Save", class:"btn btn-primary"%>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
