<section class="features">
    <!-- Feature 1 -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="feature-row">
            <div class="feature-content">
              <h2><%= t('tutorial.property_link')%></h2>
              <p><%= t('tutorial.property_link_description1')%></p>
              <p><%= t('tutorial.property_link_description2')%></p>
            </div>
            <div class="feature-image">
              <!-- icon here -->
              <%= image_tag "media-placeholder.png", alt: "Add properties feature" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feature 2: Collaborate -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="feature-row collaborate">
            <div class="feature-image">
              <!-- Feature image here -->
              <%= image_tag "media-placeholder.png", alt: "Collaboration feature" %>
            </div>
            <div class="feature-content">
              <h2><%= t('tutorial.collaborate_title')%></h2>
              <p><%= t('tutorial.collaborate_p1')%></p>
              <p><%= t('tutorial.collaborate_p2')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="feature-row">
            <div class="feature-content">
              <h2><%= t('tutorial.share_title')%></h2>
              <p><%= t('tutorial.share_p1')%></p>
              <p><%= t('tutorial.share_p2')%></p>
            </div>
            <div class="feature-image share-feature">
              <div class="link-display">
                <span class="link-text">https://casalink.com/barcelona-apt</span>
                <button class="copy-btn">Copy</button>
              </div>
              <div class="share-buttons">
                <a href="#" class="share-button whatsapp"><%= image_tag "whats-app-icon.png", alt: "WhatsApp" %></a>
                <a href="#" class="share-button messenger"><%= image_tag "messaging-icon.png", alt: "Messenger" %></a>
                <a href="#" class="share-button email"><%= image_tag "email-icon.png", alt: "Email" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
