
  <!-- app/views/shared/_addproperty_button.html.erb -->

    <div class="col-md-6">

    <!-- Create New Property Card -->
    <div class="create-new-collection-content">
      <div  data-bs-toggle="modal" data-bs-target="#propertyCol<%= collection.id %>Modal">
          <span style="background-color:rgb(241, 132, 48); color: white; padding: 8px 16px; border: none; border-radius: 4px; font-size: 16px; cursor: pointer; margin-right: 8px;">+</span>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="propertyCol<%= collection.id %>Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">

    <!-- Simple form -->
    <%= simple_form_for [collection, property] do |f| %>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">New Property</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :url %>
        <%#= f.input :url, as: :hidden, input_html: { id: "idealista_url_#{collection.id}" } %>

    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", collections_path, class:"btn btn-secondary", data: { "bs-dismiss" => "modal" } %>
      <%= f.button :submit, "Next", class:"btn btn-primary"%>
      <%#= f.button :submit, "Next", class: "btn btn-primary", formaction: scrape_path, formmethod: :post %>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
