  <!-- app/views/shared/_addproperty_button.html.erb -->

    <div class="col-md-6">

    <!-- Create New Property Card -->
    <div class="create-new-collection-content">
      <div  data-bs-toggle="modal" data-bs-target="#propertyCol<%= collection.id %>Modal">
          <span style="background-color:rgb(241, 132, 48); color: white; padding: 8px 16px; border: none; border-radius: 4px; font-size: 16px; cursor: pointer; margin-right: 8px;">+</span>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="propertyCol<%= collection.id %>Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">

    <!-- Simple form -->
    <%= simple_form_for [collection, property] do |f| %>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Property to <span style="color: #F2994A;"><%= collection.name %></span></h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= f.input :url,
      label: "Property Link",
      placeholder: "Paste property link here" %>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document.querySelector("#property_url").addEventListener("input", function () {
            this.value = this.value.replace(/\s/g, ""); // Removes all spaces
          });
        });
      </script>


    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", collections_path, class:"btn btn-secondary", data: { "bs-dismiss" => "modal" } %>
      <%= f.button :submit, "Save", class:"btn btn-primary"%>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
