  <!-- app/views/collections/_create_new_collection.html.erb -->

    <div class="col-md-6">

    <!-- Create New Collection Card -->
    <div class="create-new-collection-content">
      <div class="create-new-plus-icon" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="plus-sign" style="background-color: #F2994A; color: white; width: 40px; height: 40px; border: none; border-radius: 8px; display: flex; align-items: center; justify-content: center; cursor: pointer; font-size: 20px;">+</span>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">


    <!-- New Collection Collapsable-->
    <p class="d-inline-flex gap-1 mb-4 mt-4" style="justify-content: center;">
    <button class="collapsable-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    New Property
    </button>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">

    <!-- Simple form -->
    <%= simple_form_for [@collection, @property] do |f| %>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">New Property</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :url %>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", collections_path, class:"btn btn-secondary", data: { "bs-dismiss" => "modal" } %>
      <%= f.button :submit, "Save", class:"btn btn-primary"%>
    </div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
