<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo -->
    <%= link_to collections_path(locale: I18n.locale), class: "navbar-brand me-3" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <!-- Dashboard Button (Placed next to the logo) -->
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <%= link_to collections_path(locale: I18n.locale), class: "nav-link dashboard-link" do %>
          <i class="fa-solid fa-table-columns me-2" style="font-size: 20px;"></i>
          My Collections
        <% end %>
      </li>
    </ul>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <!-- Notifications Button -->
        <li class="nav-item me-3">
          <a href="#" class="nav-link notification-link">
            <i class="fas fa-bell"></i>
          </a>
        </li>

        <% if controller_name == "pages" && action_name == "home" %>
        <!-- Language Dropdown -->
        <div class="dropdown">
          <button class="dropdown-toggle">
            🌐
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "🇬🇧 English", url_for(locale: :en) %></li>
            <li><%= link_to "🇵🇹 Português", url_for(locale: :pt) %></li>
            <li><%= link_to "🇪🇸 Español", url_for(locale: :es) %></li>
            <li><%= link_to "🇫🇷 Français", url_for(locale: :fr) %></li>
          </ul>
        </div>
        <% end %>

        <!-- Initials Dropdown -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle text-decoration-none" id="navbarDropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar-circle" style="background-color: <%= avatar_color(current_user) %>;">
              <span class="initials">
                <%= "#{current_user.first_name[0]}#{current_user.last_name[0]}".upcase %>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Account", edit_user_registration_path(locale: I18n.locale), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path(locale: I18n.locale), data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
        </ul>
      <% else %>
        <div class="navbar-nav ms-auto">
          <%= link_to "Login", new_user_session_path(locale: I18n.locale), class: "btn btn-outline-primary login-button me-2" %>
          <%= link_to "Sign Up", new_user_registration_path(locale: I18n.locale), class: "btn btn-primary signup-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
